<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Connexion</title>
</head>
<body>
<h2>Connexion</h2>

<form th:action="@{/login}" method="post">

    <div th:if="${param.error}" style="color:red;">
        <p>Nom d'utilisateur ou mot de passe incorrect</p>
    </div>

    <label>Username :
        <input type="text" name="username"/><br/>
    </label>

    <label>Password :
        <input type="password" name="password"/><br/>
    </label>

    <button type="submit">Se connecter</button>
</form>

<div th:if="${param.logout}" style="color:green;">
    <p>Déconnecté avec succès</p>
</div>

</body>
</html>
